	body {
		background-color:rgb(230,230,230);
		margin:0px;
	}
	@keyframes fadeIn 
	{
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	#intro {
		background-color: #ffffff;
		padding: 20px 40px;
		margin: 20px auto;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		text-align: center;
		max-width: 800px;
	}
.rej_field
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid rgb(60,60,60);
	border-radius:7px;
	padding: 40px 80px;
    transition: all 200ms ease-in-out;
}

	#intro h1 {
		font-size: 2.5em;
		color: #333333;
		margin-bottom: 15px;
	}

	#intro p {
		font-size: 1.2em;
		color: #555555;
		line-height: 1.6;
		margin: 10px 0;
	}

	#intro ul {
		list-style: none;
		padding: 0;
		margin-top: 15px;
	}

	#intro ul li {
		font-size: 1.2em;
		color: #444444;
		margin: 10px 0;
	}

	#intro ul li::before {
		content: "✓";
		color: #ef8843;
		margin-right: 10px;
	}

	* {
		font-family:calibri;
	}
	.menu {
		font-size: 20px;
		text-align: center;
		margin-top: 38px;
		padding-left: 20px;
		padding-right: 20px;
		float:left;	
		z-index:4;
	}
	#head_zal {
		border: 4px solid rgb(237,125,49);
		border-radius:7px;
		background-color:white;
		padding:10px;
		text-align:center;
		width:130px;
		font-size: min(max(16px, 4vw), 20px);
		display:block;
		color:black;
		margin-top:-15px;
		cursor:pointer;
	}
	#head_zal_1 {
		border: 4px solid rgb(237,125,49);
		border-radius:7px;
		background-color:white;
		padding:10px;
		text-align:center;
		width:130px;
		font-size: min(max(16px, 4vw), 20px);
		display:block;
		color:black;
		margin-top:-15px;
		cursor:pointer;
	}
	
#rej_field
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid rgb(60,60,60);
	border-radius:7px;
	padding: 40px 80px;
    transition: all 200ms ease-in-out;
}

	#kod {
		text-align:center;
		position:fixed;
		z-index: 2;
		background-color:#ef8843;
		float:left;
		padding:40px;
		width:100vw;
	}
	#head {
		text-align:center;
		width:100%;
		height:100px;
		background-color:white;
		position:fixed;
		z-index: 3;
		border-bottom:2px solid;
		border-color:rgb(230,230,230);
	}
	.zal {
		border: 4px solid rgb(237,125,49);
		border-radius:7px;
		background-color:white;
		padding:10px;
		text-align:center;
		width:130px;
		font-size:20px;
		color:black;
		cursor:pointer;
		display:block;
	}
	#main {
		float:left;
		clear:both;
		width:100%;
		height:100%;
		padding-top: 60px;
		margin-top:80px;
		transition: all 200ms ease-in-out;
		z-index: 0;
	}
	#head_stw {
		border: 4px solid rgb(205,92,18);
		border-radius:7px;
		background-color:rgb(205,92,18);
		padding:10px;
		text-align:center;
		width:130px;
		font-size: min(max(16px, 4vw), 20px);
		display:block;
		color:white;
		margin-top:-15px;
		cursor:pointer;
	}
	.head_stw2 {
		border: 4px solid rgb(205,92,18);
		border-radius:7px;
		background-color:rgb(205,92,18);
		padding:10px;
		text-align:center;
		width:130px;
		font-size: min(max(16px, 4vw), 20px);
		display:block;
		color:white;
		margin-top:-15px;
		cursor:pointer;
	}

	.options .disabled {
		color: #999; /* Szary kolor czcionki */
		pointer-events: none; /* Wyłączenie interakcji */
		cursor: not-allowed; /* Wskazuje, że opcja jest niedostępna */
	}
	.s-hidden {
		visibility:hidden;
		padding-right:10px;
	}
	.pytanie
	{
		margin-left:auto;
		margin-right:auto;
		width:fit-content;
	}
	.select {
		cursor:pointer;
		display:inline-block;
		position:relative;
		vertical-align:middle;
		font-size:20px;
    width: 300px;
		height:50px;
		background-color:white;
		border: 2px solid rgb(160,160,160);
		border-radius:7px;
		color:black;
		border:1px solid #ccc;
	}
	.answer{
	
	text-align:middle;
	border: 2px solid rgb(160,160,160);
	background-color:white;
	border-radius:7px;
	margin:10px;
	font-size:20px;
	color:black;
    transition: all 200ms ease-in-out;

}
	
        .answer.correct-selected 
{
            background-color: #f0fff0;
			border: 5px solid green;
        }

        .answer.wrong-selected 
		{
            background-color: #ffe6e6;
			border: 5px solid red;
        }

        .answer.correct-unselected {
            background-color: #f0fff0;
        }
	
.invalid
{
}
.valid
{
}
	.styledSelect {
		position:absolute;
		background-color:white;
		border-radius:7px;
		vertical-align:middle;
		height:50px;
		line-height:50px;
		border: 2px solid rgb(160,160,160);
		top:0;
		right:0;
		bottom:0;
		left:0;
		background-color:white;
		padding:0 10px;
		font-weight:bold;
	}
	.styledSelect:after {
		content:"";
		width:0;
		height:0;
		border:5px solid transparent;
		border-color:black transparent transparent transparent;
		position:absolute;
		top:23px;
		right:6px;
	}
	.styledSelect:active, .styledSelect.active {
		background-color:white;
	}
	.options {
		display:none;
		position:absolute;
		top:100%;
		right:0;
		left:0;
		z-index:999;
		margin:0 0;
		padding:0 0;
		list-style:none;
		border: 2px solid rgb(160,160,160);
		background-color:white;
		border-radius:7px;
		background-color:white;
		-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	}
	.options li {
		padding:0 6px;
		margin:0 0;
		padding:0 10px;
	}
	.options li:hover {
		background-color:#39f;
		color:white;
	}

	#strona {
		width:100%;
		animation: fadeIn 0.5s ease-in-out;
		overflow:hidden;
	}
	#rozw {
		margin-bottom:auto;
		margin-top:-2px;
	}
	#img_logo {
		height:35px;
		max-height:6vw;
		margin-top:33px;
		margin-bottom:auto;
		margin-left:20px;
		float:left;
		transition: all 200ms ease-in-out;
	}
	.link {
		font-size:20px;
		text-align:center;
		padding-left:20px;
		padding-right:20px;
		float:left;
	}
	#stw {
		border: 4px solid rgb(205,92,18);
		border-radius:7px;
		background-color:rgb(205,92,18);
		padding:10px;
		text-align:center;
		width:130px;
		font-size:20px;
		display:block;
		color:white;
		cursor:pointer;
	}
	#menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align:center;
	}
	#link {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align:center;
		width:100%;
	}
	#main3 {
    background-color: #f9f9f9;
    padding: 30px 40px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: center;
}

#main3 h1 {
    font-size: 2em;
    color: #333333;
    margin-bottom: 20px;
}

#main3 p {
    font-size: 1.2em;
    color: #555555;
    line-height: 1.5;
    margin-bottom: 20px;
}

#main3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main3 ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

#main3 ul li a {
    text-decoration: none;
    color: #ef8843;
    font-weight: bold;
}

#main3 ul li a:hover {
    text-decoration: underline;
    color: #d97632;
}
	.zwykle_a3 {
		border: 4px solid rgb(230,230,230);
		border-radius:7px;
		color:black;
		background-color:rgb(230,230,230);
		padding:10px;
		text-align:center;
		font-size:20px;
		display:block;
		color:black;
		cursor:pointer;
	}
	#td_head {
		font-size: min(max(16px, 4vw), 20px);
	}
	#subm {
		width:200px;
		height:50px;
		text-align:center;
		background-color:#75350a;
		border-radius:1vw;
		font-size:20px;
		cursor:pointer;
		margin-left:40px;
		border: hidden;
		outline: none;
		color:white;
	}
	#subm:hover {
		background-color:rgb(251, 225, 208);
		color:black;
	}
	#link2 {
		width:300px;
		height:50px;
		border: hidden ;
		padding-left:30px;
		background-color:white;
		border-radius:1vw;
		font-size:20px;
		margin-left:80px;
		outline: none;
	}
	#head_zal:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#head_zal_1:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#head_stw:hover {
		border: 4px solid rgb(235, 106, 20);
		background-color:rgb(235, 106, 20);
	}
	#head_zal2 {
		border: 4px solid rgb(237,125,49);
		border-radius:7px;
		background-color:white;
		padding:10px;
		text-align:center;
		width:130px;
		font-size:20px;
		color:black;
		cursor:pointer;
	}
	.head_zal2:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#stw:hover {
		border: 4px solid rgb(235, 106, 20);
		background-color:rgb(235, 106, 20);
	}
	.zal:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#head_logout {
		border: 4px solid rgb(205,92,18);
		border-radius:7px;
		background-color:rgb(205,92,18);
		padding:10px;
		text-align:center;
		width:150px;
		font-size:20px;
		display:block;
		color:white;
		margin-top:-15px;
		cursor:pointer;
	}
	#field {
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		border: 3px solid rgb(60,60,60);
		border-radius:7px;
		padding: 40px 80px;
	}

	.zwykle_a2 {
		border: 4px solid rgb(205,92,18);
		border-radius:7px;
		background-color:rgb(205,92,18);
		padding:10px;
		text-align:center;
		width:100px;
		font-size: min(max(16px, 4vw), 20px);
		display:inline-block;
		color:white;
		margin:10px;
		cursor:pointer;
	}
	
	.zwykle_a2:hover {
		border: 4px solid rgb(235, 106, 20);
		background-color:rgb(235, 106, 20);
	}
	.zwykle_a3:hover {
		border: 4px solid rgb(210,210,210);
		background-color:rgb(210,210,210);
	}
	.odp_a {
		border-radius:7px;
		color:black;
		background-color:rgb(230,230,230);
		padding:5px;
		text-align:center;
		font-size:20px;
		color:black;
		display:inline-block;
		margin:15px;
		cursor:pointer;
	}
	.odp_a:hover {
		background-color:rgb(210,210,210);
	}
	.odp_usun {
		border-radius:7px;
		color:black;
		background-color:rgb(230,230,230);
		padding:5px;
		text-align:center;
		font-size:20px;
		color:black;
		display:inline-block;
		margin:15px;
		cursor:pointer;
	}
	.odp_usun:hover {
		background-color:rgb(210,210,210);
	}
	#pkt {
		float:left;
		width:50%;
	}
	#rej_leg {
		font-size:40px;
	}
	#rej_tab {
		text-align:center;
		margin:0 auto 30px auto;
		padding: 20px 40px;
		background-color:white;
		border-radius:7px;
	}
	#rej_typ {
		width:300px;
		height:50px;
		text-align:center;
		border: 2px solid rgb(160,160,160);
		background-color:white;
		border-radius:7px;
		font-size:20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.btn {
		width:200px;
		height:40px;
		color:black;
		text-align:center;
		border: 4px solid rgb(237,125,49);
		background-color:white;
		border-radius:7px;
		font-size:20px;
		cursor:pointer;
	}
	.btn:hover {
		border: 4px solid rgb(237,125,49);
		background-color:rgb(251, 225, 208);
	}
	.btn2 {
		width:200px;
		height:40px;
		text-align:center;
		border: 4px solid rgb(237,125,49);
		background-color:white;
		border-radius:7px;
		color:black;
		font-size:20px;
		cursor:pointer;
		margin-top:20px;
	}
	.btn2:hover {
		border: 4px solid rgb(237,125,49);
		background-color:rgb(251, 225, 208);
	}
	.odp_typ {
		left:850px;
	}
	.text {
		width:300px;
		height:50px;
		text-align:center;
		border: 2px solid rgb(160,160,160);
		background-color:white;
		border-radius:7px;
		font-size:20px;
		color:black;
	}
	.text:required:invalid {
		border: 3px solid red;
	}
	#kat {
		width:300px;
		height:55px;
		text-align:center;
		border: 2px solid rgb(160,160,160);
		background-color:white;
		border-radius:7px;
		font-size:20px;
		color:black;
	}
	.zwykle_a3:hover {
		border: 4px solid rgb(210,210,210);
		background-color:rgb(210,210,210);
	}
	.zal:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#stw:hover {
		border: 4px solid rgb(235, 106, 20);
		background-color:rgb(235, 106, 20);
	}
	#head_zal:hover {
		border: 4px solid rgb(243, 166, 114);
		background-color:rgb(251, 225, 208);
	}
	#head_stw:hover {
		border: 4px solid rgb(235, 106, 20);
		background-color:rgb(235, 106, 20);
	}
	h4 {
		text-align:center;
		padding:0px;
		margin:0px;
		font-size:20px;
		clear:both;
	}